/*selector {
	Property: value;
}*/

 h4 { text-align: center;
  table-layout: fixed; }
 h1 { text-align: center;
border: solid;
 	border-width: 1px  ;
 	background-color: D3D1D7
 	;
   }
  body { background-image: url(backgroundimage11.jpg);
  background-size: cover; }

.webtext1 { border: dashed; }
.webtext2 { border: dashed; }
 .webtext2 { border-width: 1px; }
.webtext3 { border: dashed; }
.webtext4 { border: dashed; }
#div1 { background: rgba(0,167,255,0.1);}
#div2 { background: rgba(167,167,255,0.1); }